body { width: fit-content; font-family: monospace; font-size: 0.7rem; padding-left: 4rem; padding-right: 4rem; /*margin-left: auto; margin-right: auto;*/ }
body > div { display: flex; flex-direction: row; }
@media screen and (max-width: 60em) { body > div { flex-direction: column; } }

nav { display: flex; flex-direction: flex-row; justify-content: space-between; }
nav > span { align-self: center; }

ol { display: flex; flex-direction: column; flex-wrap: wrap; min-width: 30em; list-style: none; padding-left: 0; }
ol > li { padding: 0.25rem 0; width: fit-content; }
ol h4 { margin-top: 0.25rem; margin-bottom: 0.25rem; }

a { text-underline-offset: 2px; color: blue; }
a:hover { text-decoration: none; }

article { line-height: 1.1rem; max-width: 30em; text-align: justify; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 0; }
@media screen and (min-width: 60em) { article { max-width: 34em; } }
article > h4 { border-bottom: 1px solid black; }

footer { border-top: 1px solid black; }
footer > span { padding-top: 0.5rem; padding-bottom: 0.5rem; float:right; }

.cc {  padding-left: 15px; background-image: url("../img/cc.svg"); background-size: 14px 14px; background-position: 0 0px; background-repeat: no-repeat; }